section.postForm {
  & label {
    height: 25.6px;
    padding: 2px;
    margin: 4px;
  }

  & input {
    height: 25.6px;
    padding: 2px;
    margin: 4px;
  }

  & button {
    height: 25.6px;
    width: 81px;
    padding: 2px;
    margin: 4px;
  }
}
